@using Microsoft.AspNetCore.Identity
@using KetoCalculator.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Foodgroups/Index">Food Groups</a>
    </li>
 }