@page
@model KetoCalculator.Pages.Admin.Roles.IndexModel

<p>
    <a asp-page="Edit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRoles[0].Name)
</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AspNetRoles) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
