@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg">
                <h3 class="card-title">Ketogenic diet</h3>
                <div class="text-body"><p>A ketogenic (or ‘keto’) diet is a low-carbohydrate, high-fat diet. Although it has benefits as a medical treatment for certain groups of people, there is little evidence to recommend it as a long-term weight loss technique for healthy people.</p></div>
                <div class="text-body">
                    <h4>What is a carbohydrate?</h4>
                    <p><a href="https://www.healthdirect.gov.au/carbohydrates" target="_blank">Carbohydrates</a>, or &lsquo;carbs&rsquo;, are an important nutrient. They are an excellent source of energy for the body and brain. Most foods that contain carbohydrates also provide vitamins, minerals and fibre for good bowel health.</p>

                    <h4>What is the ketogenic diet?</h4>
                    <p>People on a ketogenic diet eat a very small amount of carbohydrates, a moderate amount of protein and a high amount of fat per day. This means that the body burns fat for fuel, as its main source of fuel and breaks it down into &lsquo;ketone bodies&rsquo; (or &lsquo;ketones&rsquo;) in a process called ketosis.</p>
                    <p>People on a ketogenic diet usually eat only 20 to 50g of carbohydrates per day. As an example, 50g of carbohydrate is equivalent to 2 slices of bread and a banana.</p>
                    <p>Carbs make up about one tenth of daily kilojoule intake in a ketogenic diet (a kilojoule is a measure of how much energy we get from food). This means the person&rsquo;s body stays in a constant state of ketosis.</p>
                    <p>Evidence shows that the diet may be suitable for some people with certain medical conditions, but there is very limited evidence that healthy people should use it as a long-term diet.</p>

                    <h4>The ketogenic diet as a medical treatment</h4>
                    <p>Evidence suggests that a ketogenic diet, under the supervision of a doctor or dietitian, is useful for children with <a href="https://www.healthdirect.gov.au/epilepsy">epilepsy</a> who continue to have <a href="https://www.healthdirect.gov.au/seizures">seizures</a> while on antiepileptic drugs. There is growing interest in its use in cancer, particularly in <a href="https://www.healthdirect.gov.au/brain-cancer" target="_blank">brain cancer</a>, although more studies are needed on humans before this can be recommended.</p>
                    <p>For people who have <a href="https://www.healthdirect.gov.au/type-2-diabetes" target="_blank">type 2 diabetes</a>, a ketogenic diet may improve <a href="https://www.healthdirect.gov.au/hyperglycaemia-high-blood-sugar" target="_blank">blood sugar</a> control in the short term. However, the long-term effects are not known, particularly on <a href="https://www.healthdirect.gov.au/what-is-cholesterol" target="_blank">cholesterol</a> levels, which increased in some studies.</p>

                    <h4>What to expect on a ketogenic diet</h4>
                    <p>A typical ketogenic diet significantly reduces a person&rsquo;s intake of rice, pasta, fruit, grains, bread, beans and starchy vegetables such as peas and potatoes. For example, the <a href="https://daa.asn.au/" target="_blank" aria-label="Link opens in a new tab.">Dietitians Association of Australia</a> says that this could restrict you to the carbohydrate levels of only a small tub of yoghurt, a medium-sized potato and one apple a day.</p>
                    <p>Many Australians find it hard to meet the recommended daily intakes of wholegrains, vegetables and fruit a day. The Australian Dietitians Association says that being on a ketogenic diet can make it harder to reach these targets without supplements.</p>
                    <p>A ketogenic diet should always be followed in consultation with your doctor or an accredited practising dietitian, to ensure that you get the right amount and types of fats, fibre and vitamins, as well as minerals like calcium, magnesium, iron and potassium.</p>

                    <h4>The ketogenic diet for weight loss</h4>
                    <p>The ketogenic diet is often promoted for <a href="https://www.healthdirect.gov.au/weight-loss-and-dieting" target="_blank">weight loss</a> in healthy people.</p>
                    <p>There have been only limited and small studies on the ketogenic diet for weight loss. These studies have shown that the diet has short-term benefits in some people including weight loss and improvements in total cholesterol, blood sugar and blood pressure, but at one year these effects are about the same as those of conventional weight loss diets.</p>
                    <p>While a ketogenic diet can be fast and effective in the short term, it can be hard to maintain because it&rsquo;s very limiting. This means a large number of people tend to drop out of the diet, contributing to unhealthy, &lsquo;yo-yo&rsquo; dieting behaviour. The key to maintaining a healthy weight in the long-term is an eating pattern that you can sustain over time.</p>
                    <p>It is important to remember that people have different needs, and that no single weight-loss diet suits everyone. A ketogenic diet may be an option for some people who have had difficulty losing weight with other methods, but if you choose to go on a ketogenic diet, it&rsquo;s best to be under the supervision of a doctor and an accredited practising dietitian.</p>

                    <h4>What are the effects of a ketogenic diet?</h4>
                    <p>Some of the possible short-term negative effects of a keto diet include:</p>
                    <ul>
                        <li><a href="https://www.healthdirect.gov.au/fatigue" target="_blank">fatigue</a></li>
                        <li><a href="https://www.healthdirect.gov.au/constipation" target="_blank">constipation</a></li>
                        <li><a href="https://www.healthdirect.gov.au/headaches" target="_blank">headache</a></li>
                        <li><a href="https://www.healthdirect.gov.au/gingivitis-and-halitosis" target="_blank">bad breath</a></li>
                        <li>feeling sick</li>
                        <li><a href="https://www.healthdirect.gov.au/dizziness" target="_blank">dizziness</a></li>
                        <li><a href="https://www.healthdirect.gov.au/dehydration" target="_blank">dehydration</a></li>
                    </ul>

                    <h4>For more information</h4>
                    <ul>
                        <li>Talk to your doctor.</li>
                        <li>Find an accredited practising dietitian from the <a href="https://daa.asn.au/" target="_blank" aria-label="Link opens in a new tab.">Dietitians Association of Australia</a>, or call 1800 812 942.</li>
                        <li>Call the healthdirect helpline to speak with a registered nurse on 1800 022 222.</li>
                        <li>Visit <a href="https://www.epilepsy.org.au/" target="_blank" aria-label="Link opens in a new tab.">Epilepsy Action Australia</a> or call 1300 37 45 37.</li>
                        <li>Visit <a href="http://www.epilepsyaustralia.net/" target="_blank" aria-label="Link opens in a new tab.">Epilepsy Australia</a> or call 1300 852 853.</li>
                    </ul>
                </div>
                All details taken from <a href="https://www.healthdirect.gov.au/ketogenic-diet" target="_blank">Healthdirect.gov.au Ketogenic diet</a>
            </div>
            <div class="col-sm">
                <h3 class="card-title">Keto Calculator</h3>
                <p>This Keto Calculator is for the use of people wanting to calculate their keto ratio and calories for meals as prescribed by a dietition.<p />
                <p><a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a> to start recording and calculating.
                If you are not yet registered do so <a id="register" asp-area="Identity" asp-page="/Account/Register">here</a>.</p>
                You can browse the <a asp-page="/Recipe/Index">recipes here</a> if you just want to have a look.

            </div>
        </div>
        </div>
