@page
@model KetoCalculator.Pages.Admin.UserRole.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AspNetRoleClaims</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AspNetRoleClaims.Id" />
            <div class="form-group">
                <label asp-for="AspNetRoleClaims.RoleId" class="control-label"></label>
                <select asp-for="AspNetRoleClaims.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="AspNetRoleClaims.RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetRoleClaims.ClaimType" class="control-label"></label>
                <input asp-for="AspNetRoleClaims.ClaimType" class="form-control" />
                <span asp-validation-for="AspNetRoleClaims.ClaimType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetRoleClaims.ClaimValue" class="control-label"></label>
                <input asp-for="AspNetRoleClaims.ClaimValue" class="form-control" />
                <span asp-validation-for="AspNetRoleClaims.ClaimValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
